# node
node_modules
npm-debug.log

# node-webkit-builder
cache
nw_cache

# shell
cdn-cache
shell/work/

# build
shell/npm/bin/touchdevelop.js
shell/npm/package.json
results.html
results.json
build/

# vim
tags
*.sw?
