# node
node_modules
npm-debug.log
typings

# node-webkit-builder
cache
nw_cache

# build
shell/npm/bin/touchdevelop.js
shell/npm/package.json
results.html
results.json
build/
temp/
www/mbit.*
microbit/flasher/Microbit.Flasher/bin
microbit/flasher/Microbit.Flasher/obj
microbit/loader/Microbit.Loader/bin
microbit/loader/Microbit.Loader/obj

# visual studio
*.suo

# vim
tags
*.sw?

# misc stuff
temp/
