# node
node_modules

# shell
cdn-cache
tdconfig.json

# build
browser.js
main.js
mcrunner.js
noderunner.js
runtime.js
shell/npm/bin/touchdevelop.js
shell/npm/package.json
touchdevelop.tgz
results.html
results.json
genStubs/genmeta.js
genStubs/genmeta.d.ts
build/api.js
build/localization.json
build/topiclist.json
cssPrefixes/addCssPrefixes.js
cssPrefixes/addCssPrefixes.d.ts
shell/shell.js
shell/shell.d.ts
shell/package.js
shell/package.d.ts
build/pkgshell.js
browser/browser.js
browser/browser.d.ts
rt/refs.js
rt/refs.d.ts
storage/refs.js
storage/refs.d.ts
ast/refs.js
ast/refs.d.ts
libwinRT/refs.js
libwinRT/refs.d.ts
libwab/refs.js
libwab/refs.d.ts
libnode/refs.js
libnode/refs.d.ts
libcordova/refs.js
libcordova/refs.d.ts
editor/refs.js
editor/refs.d.ts
officemix/officemix.js
officemix/officemix.d.ts
noderunner/jsonapi.js
noderunner/jsonapi.d.ts
nodeclient/client.js
nodeclient/client.d.ts
noderunner/runner.js
noderunner/runner.d.ts
runner/refs.js
runner/refs.d.ts
mc/refs.js
mc/refs.d.ts
